In [ ]:
# Jupyter Notebook

In [1]:
import pandas as pd

In [128]:
mpg = pd.read_csv('mpg.csv')

In [129]:
print("#1 database, Head():", "\n\n", mpg.head())

#1 database, Head():

     mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

In [94]:
count = mpg.shape[0]
print("#2 Cars, total number of rows:", count)

#2 Cars, total number of rows: 398

In [95]:
print("#3 Columns filtered by name starting with m:", "\n\n", mpg.filter(regex='^m') )

#3 Columns filtered by name starting with m:

       mpg  model_year
0    18.0          70
1    15.0          70
2    18.0          70
3    16.0          70
4    17.0          70
..    ...         ...
393  27.0          82
394  44.0          82
395  32.0          82
396  28.0          82
397  31.0          82

[398 rows x 2 columns]

In [96]:
print("#4 Picks a random sample of 5 rows:","\n\n", mpg.sample(n=5))

#4 Picks a random sample of 5 rows:

       mpg  cylinders  displacement  horsepower  weight  acceleration  \
372  27.0          4         151.0        90.0    2735          18.0
359  28.1          4         141.0        80.0    3230          20.4
329  44.6          4          91.0        67.0    1850          13.8
397  31.0          4         119.0        82.0    2720          19.4
169  20.0          6         232.0       100.0    2914          16.0

     model_year  origin                       name
372          82     usa            pontiac phoenix
359          81  europe  peugeot 505s turbo diesel
329          80   japan        honda civic 1500 gl
397          82     usa                 chevy s-10
169          75     usa                amc gremlin

In [97]:
print("#5 Minimum value of each column:","\n\n", mpg.min(axis=0))

#5 Minimum value of each column:

 mpg                                 9.0
cylinders                             3
displacement                       68.0
horsepower                         46.0
weight                             1613
acceleration                        8.0
model_year                           70
origin                           europe
name            amc ambassador brougham
dtype: object

In [98]:
newData = mpg.filter(["name", "mpg", "cylinders", "weight", "horsepower"], axis = 1)
print("#6 New dataframe contains only selected columns:","\n\n", newData.head())

#6 New dataframe contains only selected columns:

                         name   mpg  cylinders  weight  horsepower
0  chevrolet chevelle malibu  18.0          8    3504       130.0
1          buick skylark 320  15.0          8    3693       165.0
2         plymouth satellite  18.0          8    3436       150.0
3              amc rebel sst  16.0          8    3433       150.0
4                ford torino  17.0          8    3449       140.0

In [121]:
bestMGP = mpg["mpg"].max()
print("#7 Best mpg:", bestMGP)

#7 Best mpg: 46.6

In [116]:
entry = mpg.loc[mpg["mpg"] == bestMGP]
indexNumber = (entry.index)
print("#8 Most efficient car:","\n\n", mpg.iloc[indexNumber,[8,0]])

#8 Most efficient car:

           name   mpg
322  mazda glc  46.6

In [163]:
averageWeight = mpg["weight"].mean()
averageWeight = round(averageWeight, 2)
print("#9 Average weight:", averageWeight)

#9 Average weight: 2970.42

In [183]:
averageList = mpg[mgp.weight < averageWeight]
averageList = averageList.sort_values('weight')
    print("#10 Cars lighter than average sorted by weight:","\n\n", averageList.iloc[:,[8,4]])

#10 Cars lighter than average sorted by weight:

                            name  weight
54                  datsun 1200    1613
144               toyota corona    1649
343              toyota starlet    1755
345            honda civic 1300    1760
53          toyota corolla 1200    1773
..                          ...     ...
392            chevrolet camaro    2950
327         audi 5000s (diesel)    2950
178                 peugeot 504    2957
45   amc hornet sportabout (sw)    2962
254        ford fairmont (auto)    2965

[227 rows x 2 columns]

In [185]:
bmwList = mpg[mpg['name'].str.contains('bmw', na=False)] 
print("#11 BMW cars mpg:","\n\n", bmwList.iloc[:,[8,0]])

#11 BMW cars mpg:

          name   mpg
23   bmw 2002  26.0
242  bmw 320i  21.5

In [186]:
europeList = mpg[mpg['origin'].str.contains('europe', na=False)] 
print("#11 BMW cars mpg:","\n\n", europeList.iloc[:,8])

#11 BMW cars mpg:

 19     volkswagen 1131 deluxe sedan
20                      peugeot 504
21                      audi 100 ls
22                         saab 99e
23                         bmw 2002
                   ...
354                     renault 18i
359       peugeot 505s turbo diesel
360                    volvo diesel
375             volkswagen rabbit l
394                       vw pickup
Name: name, Length: 70, dtype: object